/* custom stylings. */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #fff;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

#resetDay {
    padding: 10px;
    margin-top: 20px;
    background-color: blanchedalmond;
}

.cal-content li {
    border: .2px solid black;
    border-radius: 5px;
    display: flex;
    margin: 5px auto;
    list-style: none;
}

.time-stamp {
    margin: auto;
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.area-def {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 40px 20px;
    color: darkslategrey;
}

.btn {
    background-color: rgb(144 167 145);
    font-size: 25px;
    border: 2px solid rgb(23 39 56 / 50%);
}

/* dynamic stylings to be added to list elements based on time of day */
.past {
    background-color: lightcoral;
}

.present {
    background-color: lightgreen;
}

.future {
    background-color: #ced4da;
}

.past textarea {
    background-color: rgb(243, 190, 190);
}

.present textarea {
    background-color: rgb(191, 243, 191);
}

.future textarea {
    background-color: #dee3e7;
}
© 2022 GitHub, Inc.
Terms
Privacy
